<!-- <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="sidebar-icon" [class.page-body-wrapper]="isAgentLogin()">
        <app-sidebar *ngIf="isAgentLogin()"></app-sidebar>
        <div class="page-body p-0" [class.closape-sidebar]="isAgentLogin()">
            <div class="container-fluid dashboard-default-sec">
            </div>
        </div>
    </div>
</div> -->
<div class="row px-2 pt-4">
    <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="card o-hidden bg-primary rounded border-0 card-primary">
            <div class="b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body"><span class="m-0">Total Forms</span>
                        <h4 class="mb-0 counter">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-4 ">
        <div class="card bg-secondary rounded o-hidden border-0 card-secondary">
            <div class="b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="media-body"><span class="m-0">Total Drafts</span>
                        <h4 class="mb-0 counter">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="card o-hidden bg-primary rounded border-0 card-primary">
            <div class="b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="media-body"><span class="m-0">Total Central Acts</span>
                        <h4 class="mb-0 counter">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="card o-hidden bg-secondary rounded border-0 card-secondary">
            <div class="b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="media-body"><span class="m-0">Total State Acts</span>
                        <h4 class="mb-0 counter">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="card o-hidden bg-primary rounded border-0 card-primary">
            <div class="b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="media-body"><span class="m-0">State General resolutions</span>
                        <h4 class="mb-0 counter">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="card o-hidden bg-secondary rounded border-0 card-secondary">
            <div class="b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="align-self-center">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="media-body"><span class="m-0">Central General resolutions</span>
                        <h4 class="mb-0 counter">0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>