<section class="hero-section">
    <div class="hero-section-content">
        <div class="p-3">
            <h4 class="mb-3">Bombay Real Estate Team</h4>
            <p>Professional agents at your service</p>
        </div>
    </div>
</section>

<section class="agents-section">
    <div class="container">

        <p class="p-3 fs-5 text-center"><b>Agents List</b></p>
        <p>We like to think of ourselves as a small but perfectly formed lettings & management agency. Working you
            get
            the exposure, knowledge and expertise you would expect from a large agent, but the service you will only
            receive from a smaller business built around 100% client and tenant focus.</p>
        <div class="row mt-4">
            <div class="col-lg-3 my-3" *ngFor="let item of agentArray">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-1.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">{{item.fullName}}</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-primary" (click)="goToAgentProfile(item)"><a
                                    href="javascript:void(0)">View Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>