<section class="hero-section">
    <div class="hero-section-content">
        <h1 class="mb-3">Bombay Real Estate Team</h1>
        <p>Professional agents at your service</p>
    </div>
</section>

<section class="agents-section my-3">
    <div class="container">
        <h2 class="p-3">Agents List</h2>
        <div class="p-3">
            <p>We like to think of ourselves as a small but perfectly formed lettings & management agency. Working you
                get
                the exposure, knowledge and expertise you would expect from a large agent, but the service you will only
                receive from a smaller business built around 100% client and tenant focus.</p>
            <p> Whether you're looking for property for sale in New York area or property for rent, WP Residence makes
                searching easy. Use our unique geolocation mapping feature to root-out your ideal villa, townhouse or
                apartment and contact the owners direct. We will help you find your dream house in just a few seconds.
            </p>
        </div>
        <div class="row my-4">
            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-2.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-1.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/team-2.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-5.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-5.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-5.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-5.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-5.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="../../assets/images/agent-5.jpg" alt="" class="img-fluid h-20">
                        </div>
                        <h5 class="py-3">Michaela Finney</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus ligula ac
                            faucibus faucibus....</p>
                        <div class="text-center">
                            <button class="btn btn-info"><a href="javascript:void(0)" routerLink="/agents-profile">View
                                    Profile</a></button>
                        </div>
                        <div class="p-3 mt-4 text-center">
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-twitter fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-instagram fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-linkedin fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-solid fa-envelope fs-4"></i></a>
                            <a href="javascript:void(0)" class="me-3"><i class="fa-brands fa-facebook fs-4"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>