<!-- <section class="sidebar">
    <div class="row">
        <nav class="col-lg-4 bg-info text-white">
            <div class="d-flex flex-column p-3">
                <ul class="nav flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white my-2" [ngClass]="activeTab == 'agent-dashboard'?'active':''"
                            (click)="navigateTo('agent-dashboard')" href="javascript:void(0)">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white my-2" [ngClass]="activeTab == 'add-property'?'active':''"
                            (click)="navigateTo('add-property')" href="javascript:void(0)">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            <span>Add-property</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section> -->
<!-- Page Sidebar Start-->
<div class="page-main-header">
    <div class="main-header-right row m-0">
        <div class="main-header-left">
            <div class="logo-wrapper">
                <a href="javascript:void(0)" class="logo">
                    <h4 class="px-2 m-0"><span>Metal</span> eMart</h4>
                </a>
            </div>

            <div class="toggle-sidebar" (click)="toggleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-align-center status_toggle middle" id="sidebar-toggle">
                    <line x1="18" y1="10" x2="6" y2="10"></line>
                    <line x1="21" y1="6" x2="3" y2="6"></line>
                    <line x1="21" y1="14" x2="3" y2="14"></line>
                    <line x1="18" y1="18" x2="6" y2="18"></line>
                </svg>
            </div>
        </div>
        <div class="nav-right col pull-right right-menu p-0">
            <ul class="nav-menus">
                <li class="onhover-dropdown p-0">
                    <button class="btn btn-primary-light" type="button" (click)="logout()">
                        <a href="javascript:void(0)">
                            <i data-feather="log-out" (click)="logout()"></i>Log out
                        </a>
                    </button>
                </li>
            </ul>
        </div>
        <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
    </div>
</div> 

<header class="main-nav w-100">

    <div class="sidebar-user text-center">
        <img class="img-90 rounded-circle" src="https://laravel.pixelstrap.com/viho/assets/images/dashboard/1.png"
            alt="">
        <div class="badge-bottom"><span class="badge badge-primary">Agent</span></div>
    </div>

    <nav class="h-100">
        <div class="main-navbar h-100">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="mainnav" class="h-100 w-100">
                <ul class="nav-menu custom-scrollbar">
                    <!-- <li class="dropdown">
                        <a class="nav-link menu-title link-nav my-2" [ngClass]="activeTab == 'dashboard'?'active':''"
                            (click)="navigateTo('dashboard')" href="javascript:void(0)">
                            <i class="fa fa-home"></i>
                            <span>Dashboard</span></a>
                    </li> -->
                    <li class="dropdown">
                        <a class="nav-link menu-title link-nav my-2"
                        [ngClass]="activeTab == 'agent-dashboard'?'active':''"
                            (click)="navigateTo('agent-dashboard')" href="javascript:void(0)">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link menu-title link-nav my-2"
                        [ngClass]="activeTab == 'add-property'?'active':''"
                            (click)="navigateTo('add-property')" href="javascript:void(0)">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            <span>Add Property</span>
                        </a>
                    </li>
                    <!-- <li class="dropdown">
                        <a class="nav-link menu-title link-nav my-2"
                            [ngClass]="activeTab == 'add-products'?'active':''"
                            (click)="navigateTo('add-products')" href="javascript:void(0)">
                            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                            <span>Add Product</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link menu-title link-nav my-2" [ngClass]="activeTab == 'userlist'?'active':''"
                            (click)="navigateTo('userlist')" href="javascript:void(0)">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>Users List</span>
                        </a> -->
                    <!-- </li> -->
                    <!-- <li class="dropdown">
                        <a class="nav-link menu-title link-nav my-2" [ngClass]="activeTab == 'changepswd'?'active':''"
                            (click)="navigateTo('changepswd')" href="javascript:void(0)">
                            <i class="fa fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</header>