
.navbar-nav {
  .nav-link {
    position: relative;
    display: inline-block;  
    font-size: 15px;
    color: #ffffff;
    font-family: roboto, sans-serif;
    font-weight: 600;
  }
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}

.nav-link:hover::after {
  background-color: #ff9249;
}


.navbar-brand {
  color: #ff9249;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ff9249;
}

.navbar-scrolled {
  background-color: #333;
}

.navbar-scrolled .nav-link {
  color: #fff;
}

.nav-item {
  margin-top: 4px;
  margin-right: 22px;

  a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
  }
}


// .modal-img {
//   max-width: 100%;
//   height: 60vh;
//   background-size: cover;
//   object-fit: cover;
// }

// .modal-body {
//   a {
//     color: #000000;
//     text-decoration: none;
//   }

// }

// .btn-close {
//   float: right;
//   margin-right: 17px;
// }

.navbar {
  transition: background-color 0.5s ease-out;
}

.navbar-white {
  background-color: white !important;
  .nav-link{
    color: #000000;
  }
}