.login-section {

    // background-image: url("../../assets/images/home-22.jpg");
    .img-fluid {
        height: 60vh;
        background-size: cover;
        object-fit: cover;
        filter: brightness(0.8);
    }

    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        .heading {
            font-family: roboto, sans-serif;
            font-size: 19px;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            font-weight: 700;
            color: #000000;
        }

        .text-danger {
            font-size: 12px;
        }
    }
}


.otpForm form input{
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
    border: 1px solid #fff6f0;
    border-color: #000000;
    border-radius: 0;
  }
