<section class="signup-section">
    <img src="../../assets/images/home-18.jpg" alt="" class="img-fluid">
    <div class="container-fluid">
        <div class="card p-4">
            <div class="card-body">
                <h4 class="heading py-3">Sign into your account</h4>
                <form class="mb-3">
                    <div class="mb-3">
                        <input type="email" class="form-control" id="emailInput"
                            placeholder="Enter Username or Email" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info px-3 py-2 w-100">Login</button>
                    </div>
                </form>


                <div class="container text-center mb-3">
                    <span>Or</span>
                </div>
                <div class="text-center">
                    <a href="javascript:void(0)"><i class="fa-brands fa-facebook me-4"></i></a>
                    <a href="javascript:void(0)"><i class="fa-brands fa-twitter me-4"></i></a>
                    <a href="javascript:void(0)"><i class="fa-brands fa-google me-4"></i></a>
                    <a href="javascript:void(0)"><i class="fa-brands fa-instagram me-4"></i></a>
                </div>
                <div class="row my-4">
                    <div class="col-lg-6 text-start mt-3">
                        <a href="javascript:void(0)" routerLink="/signup">Register Here</a>
                    </div>
                    <div class="col-lg-6 text-end mt-3">
                        <a href="javascript:void(0)">Forget Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>