<section class="hero-section">
    <div class="hero-section-content">
        <h2 class="mb-3">Properties</h2>
    </div>
</section>

<section class="property-details bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row mt-4">
                    <div class="col-lg-6 my-1">
                        <span class="badge bg-dark px-3 py-2 text-white me-3">Featured</span>
                        <span class="badge bg-primary px-3 py-2 text-dark">{{category}}</span>
                    </div>
                    <!-- <div class="col-lg-6 text-end my-1">
                        <button class="btn btn-outline-primary" [attr.data-bs-toggle]="isLogin ? 'modal' : ''"
                            [attr.data-bs-target]="isLogin ? '#deleteProductsModal' : ''"
                            (click)="contactAgent()">Contact Agent
                        </button>
                    </div> -->
                </div>

                <div class="row mt-3 mb-4">
                    <div class="col-lg-6 p-2">
                        <p class="fs-4"><b>{{propertyName}}</b></p>
                        <span><a href="javascript:void(0)"><i class="fas fa-location me-2"></i></a>Property is situated
                            in : {{state}}</span>
                    </div>
                    <div class="col-lg-6 p-2 text-end">
                        <h5 class="price"><b>₹{{price}} / Year</b></h5>
                        <span class="badge bg-white  px-3 py-2 me-3 shadow-sm"><i
                                class="fas fa-share me-2"></i>share</span>
                        <span class="badge bg-white  px-3 py-2 shadow-sm"><i
                                class="fas fa-heart me-2"></i>Favorite</span>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-lg-12">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../assets/images/home--2.jpg" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/home--3.jpg" class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../../assets/images/home--6.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row details my-2">
                    <div class="col-lg-12">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title">Property Description</h4>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <b><hr></b> 

                <div class="text-center my-3">
                    <h4><b>Agent Details</b></h4>
                </div>
                
                <div class="row contact-agent mt-5 mb-4">
                    <div class="col-lg-6">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="assets/images/agent-1.jpg" alt="" class="img-fluid">
                                <h3 class="pe-3 pt-3">{{agentName}} {{agentIdNew}}</h3>
                                <p>Property Selling Agent</p>
                                <div class="text-start p-2">
                                    <p> <a href="javascript:void(0)"><i
                                                class="fas fa-phone me-2"></i>{{mobileNumber}}</a>
                                    </p>
                                    <p> <a href="javascript:void(0)"><i
                                                class="fas fa-envelope me-2"></i>{{agentEmail}}</a></p>
                                    <!-- <button class="btn btn-primary px-3 py-2" (click)="goToAgentProfile()">View Profile</button> -->
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-primary w-100" (click)="viewProfile()">View Agents
                                        Profile</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card shadow bg-card">
                            <div class="card-body">
                                <div class="text-center bg-dark p-3 mb-3">
                                    <h4><a href="javascript:void(0)" class="text-white">Request Information</a> </h4>
                                </div>
                                <form class="p-2" [formGroup]="requestInformationForm">
                                    <div class="mb-3">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control" id="inputName" placeholder="Your Name"
                                            formControlName="fullName">
                                    </div>
                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="email" class="form-control" id="inputEmail"
                                            placeholder="Your Email" formControlName="email">
                                    </div>
                                    <div class="mb-3">
                                        <label>Mobile Number</label>
                                        <input type="number" class="form-control" placeholder="Your Contact Number"
                                            formControlName="mobileNumber">
                                    </div>
                                    <div class="my-3">
                                        <textarea name="" id="" cols="30" rows="10" placeholder="Description"
                                            class="w-100 p-2" formControlName="message"></textarea>
                                    </div>
                                    <div class="my-3">
                                        <button type="submit" class="btn btn-dark w-100"
                                            (click)="requestInformationToAgent()">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <b><hr></b> 

                <div class="row my-4 address">
                    <div class="col-lg-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <h4 class="py-2">Property Address</h4>
                                <div class="row p-2">
                                    <div class="col-lg-4">
                                        <p><b>Address:</b> Bedford Ave</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>City:</b> New York</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>Area:</b> Manhattan</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>State/County:</b> New York State</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>Zip:</b> 11690</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>Country:</b> United States</p>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <span class="badge bg-primary px-3 py-2">Get On Google Maps</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-toast position="top-right"></p-toast>

<!-- 
<p-dialog header="" [(visible)]="visible" [style]="{width: '40vw'}">
    <div class="text-center py-3 px-2">
        <div class=" text-center bg-danger p-2 mx-5">
            <a href="javascript:void(0)" class="text-white fs-4"><i class="fas fa-warning"></i></a>
            <h6 class="text-center my-4">Please login yourself to contact your agent !!!</h6>
        </div>
        <button class="btn btn-outline-primary w-100 mt-4" routerLink="/login">Login yourself</button>
    </div>
</p-dialog> -->

<!-- 
<div class="modal fade p-0" id="deleteProductsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text-center m-0"><b>Contact Your Agent : <span class="text-danger">
                            <b>{{agentName}}</b></span></b>
                </p>
                <button type="button" class="btn-close p-2 closebtnofArtist" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form class="" *ngIf="contactAgentForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Full Name"
                                    formControlName="fullName" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Enter Email"
                                    formControlName="email" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <input type="number" class="form-control" placeholder="Enter Mobile"
                                    formControlName="mobileNumber" />
                            </div>
                        </div>

                        <button class="btn btn-primary w-100" (click)="submitForm()">Verify OTP sent to your
                            E-mail</button>

                    </div>
                </form>

                <div *ngIf="!contactAgentForm" class="p-3 otpForm">
                    <form [formGroup]="otpForm">
                        <div class="text-center p-2 m-2">
                            <label class="">Enter OTP :</label>
                        </div>
                        <div class="form-group">
                            <div class="otp-inputs text-center">
                                <input type="text" id="otp1" formControlName="otp1" class="form-control mx-2"
                                    maxlength="1" (input)="handleInput($event, 2)">
                                <input type="text" id="otp2" formControlName="otp2" class="form-control mx-2"
                                    maxlength="1" (input)="handleInput($event, 3)">
                                <input type="text" id="otp3" formControlName="otp3" class="form-control mx-2"
                                    maxlength="1" (input)="handleInput($event, 4)">
                                <input type="text" id="otp4" formControlName="otp4" class="form-control mx-2"
                                    maxlength="1">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info w-100" [disabled]="!otpForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->