<section class="signup-section">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name" />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name" />
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter email" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirmPasswordInput"
                            placeholder="Confirm password" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info px-3 py-2 w-100">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>