<section class="signup-section">
    <img src="../../assets/images/home-17.jpg" alt="" class="img-fluid">
    <div class="container-fluid">
        <div class="card p-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="p-3"><i>"Welcome to our world of beautiful homes and stunning views. We're
                            excited to help you find your dream property"</i></p>
                </div>
                <h4 class="heading py-3">Create an account</h4>
                <form class="mb-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name" />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name" />
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter email" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirmPasswordInput"
                            placeholder="Confirm password" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info px-3 py-2 w-100">Sign Up</button>
                    </div>
                </form>


                <div class="text-center p-2 mt-4">
                    <p>Already have an account ?<a href="javascript:void(0)" routerLink="/login"> Login</a></p>
                </div>
            </div>
        </div>
    </div>

</section>