<section class="hero-section">
  <div class="hero-section-content">
    <h2 class="mb-3">Property Listings</h2>
  </div>
</section>

<section class="listing-section my-3">
  <div class="container my-5">
    <div class="row mb-4">
      <div class="col-md-12 my-4">
        <h2 class="py-2 px-4"><b>Properties For Sell</b></h2>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container mt-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item "><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</div> -->


    <div class="row my-4">
      <div class="col-md-12 my-4">
        <h2 class="py-2 px-4"><b>Properties For Rent</b></h2>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/home-17.jpg" class="img-fluid rounded-start" alt="Image Description" />
            </div>
            <div class="col-md-8">
              <div class="card-body mt-5">
                <h4 class="card-title"><b>Jannat Apartment , Near Juhu Beach - Mumbai</b></h4>
                <p class="card-text mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi autem id
                  quam
                  libero nemo temporibus illum sunt iste? Tempora placeat omnis at, sapiente suscipit culpa repellat
                  illo sit vero.</p>
                <div class="contaienr-fluid mt-5 border-top">
                  <div class="row mt-2">
                    <div class="col-md-10">
                      <button class="btn btn-danger px-4 py-2 mr-auto">Get Details</button>
                    </div>
                    <div class="col-md-2 mt-3">
                      <a href="javascript:void(0)"><i class="fas fa-info-circle me-3"></i></a>
                      <a href="javascript:void(0)"> <i class="fas fa-bed me-3"></i></a>
                      <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

