<section class="hero-section">
  <div class="hero-section-content mt-3">
    <h1 class="mb-3">
      Welcome to our <span class="name">Real Estate</span> Website
    </h1>
    <p class="mb-3">
      We are recognized for exceeding client expectations and delivering great
      results through dedication, ease of process, and extraordinary services to
      our worldwide clients.
    </p>
    <form class="d-flex">
      <div class="input-group mb-3">
        <input type="text" class="form-control p-3" placeholder="Search your properties" />
        <button class="btn btn-purple px-5 py-3" id="basic-addon2">Search</button>
      </div>
    </form>
    <!-- <button href="#" class="btn-outline-purple px-4 py-2">
      Browse Listings
    </button> -->
  </div>
</section>

<section class="about-us p-5">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="container text-center">
          <img src="assets/images/home-18.jpg" alt="" class="img-fluid h-100" />
        </div>
      </div>
      <div class="col-lg-6 mt-5">
        <div class="mt-5">
          <h3 class="ms-3"><b>Why Work With Us</b></h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam
            dicta iure labore veritatis minima id rem tempora, natus quaerat
            inventore maxime dolores vero consectetur dolorem reiciendis aliquam
            veniam, maiores quas!
          </p>
          <button class="btn btn-info px-3 py-2" routerLink="/aboutus">
            About Us<i class="fas fa-arrow-right ms-3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="properties-section">
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h4 class="heading-2">Featured Luxury Property</h4>
          <p>Create property listings with all the features you'd expect</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card m-3">
          <img src="assets/images/home-18.jpg" class="img-fluid" alt="..." />
          <div class="card-body p-0">
            <div class="card-content p-3">
              <h6 class="mb-2"><b>Villa with Amazing Panoramic View</b></h6>
              <span><b> 5,500,000₹</b></span>
              <p class="mt-2">Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood
                ...</p>
              <div class="row align-items-center">
                <div class="col-md-7 mt-3">
                  <a href="javascrip:void(0)" class="me-4"><i class="fas fa-info-circle"></i></a>
                  <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col-md-5">
                  <button href="#" class="btn btn-purple">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-4">
        <div class="card m-3">
          <img src="assets/images/home-18.jpg" class="img-fluid" alt="..." />
          <div class="card-body p-0">
            <div class="card-content p-3">
              <h6 class="mb-2"><b>Villa with Amazing Panoramic View</b></h6>
              <span><b> 5,500,000₹</b></span>
              <p class="mt-2">Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood
                ...</p>
              <div class="row align-items-center">
                <div class="col-md-7 mt-3">
                  <a href="javascrip:void(0)" class="me-4"><i class="fas fa-info-circle"></i></a>
                  <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col-md-5">
                  <button href="#" class="btn btn-purple">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-4">
        <div class="card m-3">
          <img src="assets/images/home-18.jpg" class="img-fluid" alt="..." />
          <div class="card-body p-0">
            <div class="card-content p-3">
              <h6 class="mb-2"><b>Villa with Amazing Panoramic View</b></h6>
              <span><b> 5,500,000₹</b></span>
              <p class="mt-2">Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood
                ...</p>
              <div class="row align-items-center">
                <div class="col-md-7 mt-3">
                  <a href="javascrip:void(0)" class="me-4"><i class="fas fa-info-circle"></i></a>
                  <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col-md-5">
                  <button href="#" class="btn btn-purple">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-4">
        <div class="card m-3">
          <img src="assets/images/home-18.jpg" class="img-fluid" alt="..." />
          <div class="card-body p-0">
            <div class="card-content p-3">
              <h6 class="mb-2"><b>Villa with Amazing Panoramic View</b></h6>
              <span><b> 5,500,000₹</b></span>
              <p class="mt-2">Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood
                ...</p>
              <div class="row align-items-center">
                <div class="col-md-7 mt-3">
                  <a href="javascrip:void(0)" class="me-4"><i class="fas fa-info-circle"></i></a>
                  <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col-md-5">
                  <button href="#" class="btn btn-purple">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-4">
        <div class="card m-3">
          <img src="assets/images/home-18.jpg" class="img-fluid" alt="..." />
          <div class="card-body p-0">
            <div class="card-content p-3">
              <h6 class="mb-2"><b>Villa with Amazing Panoramic View</b></h6>
              <span><b> 5,500,000₹</b></span>
              <p class="mt-2">Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood
                ...</p>
              <div class="row align-items-center">
                <div class="col-md-7 mt-3">
                  <a href="javascrip:void(0)" class="me-4"><i class="fas fa-info-circle"></i></a>
                  <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col-md-5">
                  <button href="#" class="btn btn-purple">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-4">
        <div class="card m-3">
          <img src="assets/images/home-18.jpg" class="img-fluid" alt="..." />
          <div class="card-body p-0">
            <div class="card-content p-3">
              <h6 class="mb-2"><b>Villa with Amazing Panoramic View</b></h6>
              <span><b> 5,500,000₹</b></span>
              <p class="mt-2">Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood
                ...</p>
              <div class="row align-items-center">
                <div class="col-md-7 mt-3">
                  <a href="javascrip:void(0)" class="me-4"><i class="fas fa-info-circle"></i></a>
                  <a href="javascript:void(0)"><i class="fas fa-heart"></i></a>
                </div>
                <div class="col-md-5">
                  <button href="#" class="btn btn-purple">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>