<section class="hero-section">
  <div class="hero-section-content">
    <h1 class="mb-3">
      Welcome to our <span class="name">Real Estate</span> Website
    </h1>
    <p class="mb-3">
      We are recognized for exceeding client expectations and delivering great
      results through dedication, ease of process, and extraordinary services to
      our worldwide clients.
    </p>
    <button href="#" class="btn-outline-purple px-4 py-2">
      Browse Listings
    </button>
  </div>
</section>


<section class="about-us p-5">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="container text-center">
          <img src="assets/images/home-18.jpg" alt="" class="img-fluid h-100" />
        </div>
      </div>
      <div class="col-lg-6 mt-5">
        <div class="mt-5">
          <h3 class="ms-3"><b>About Us</b></h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam dicta
            iure labore veritatis minima id rem tempora, natus quaerat inventore
            maxime dolores vero consectetur dolorem reiciendis aliquam veniam,
            maiores quas!
          </p>
          <button class="btn btn-info px-3 py-2" routerLink="/aboutus">
            About Us<i class="fas fa-arrow-right ms-3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="properties-section">
  <div class="container my-5">
    
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h4 class="heading-2">Featured Luxury Property</h4>
          <p>Create property listings with all the features you'd expect</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-3">
          <img src="assets/images/home-22.jpg" class="img-fluid" alt="..." />
          <div class="card-body">
            <div class="text-center">
              <div class="text-center">
                <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



