<div class="container my-5">
  <div class="row">
    <div class="col-md-6 my-3 align-items-center">
      <h2>Some content here</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel urna
        vitae justo blandit cursus non a est. Nulla sagittis felis vel metus
        blandit congue.
      </p>
      <button class="btn btn-primary">Click me</button>
    </div>
    <div class="col-md-6 my-3">
      <img
        src="https://via.placeholder.com/400x300.png?text=Home+Image"
        alt="Home Image" class="img-fluid w-100"
      />
    </div>
  </div>
</div>

<div class="container my-5">
    <div class="row">
      <div class="col-md-6 my-3 align-items-center">
        <h2>Some content here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel urna
          vitae justo blandit cursus non a est. Nulla sagittis felis vel metus
          blandit congue.
        </p>
        <button class="btn btn-primary">Click me</button>
      </div>
      <div class="col-md-6 my-3">
        <img
          src="https://via.placeholder.com/400x300.png?text=Home+Image"
          alt="Home Image" class="img-fluid w-100"
        />
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 my-3 align-items-center">
        <h2>Some content here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel urna
          vitae justo blandit cursus non a est. Nulla sagittis felis vel metus
          blandit congue.
        </p>
        <button class="btn btn-primary">Click me</button>
      </div>
      <div class="col-md-6 my-3">
        <img
          src="https://via.placeholder.com/400x300.png?text=Home+Image"
          alt="Home Image" class="img-fluid w-100"
        />
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 my-3 align-items-center">
        <h2>Some content here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel urna
          vitae justo blandit cursus non a est. Nulla sagittis felis vel metus
          blandit congue.
        </p>
        <button class="btn btn-primary">Click me</button>
      </div>
      <div class="col-md-6 my-3">
        <img
          src="https://via.placeholder.com/400x300.png?text=Home+Image"
          alt="Home Image" class="img-fluid w-100"
        />
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <footer class="bg-light justify-content-center">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact Us</h5>
      
              <p>
                Address: 123 Main St, Anytown USA<br>
                Phone: (555) 555-1234<br>
                Email: info@realestate.com
              </p>
            </div>
      
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="javascript:void(0)" class="text-dark">Home</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-dark">Properties</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-dark">About Us</a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="text-dark">Contact Us</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Features</h5>
        
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="javascript:void(0)" class="text-dark">Home</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="text-dark">Properties</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="text-dark">About Us</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="text-dark">Contact Us</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          &copy; 2023 Real Estate, Inc. All rights reserved.
        </div>
      </footer>
      </div>
