footer{
    background-color: #000000;
    font-family: roboto, sans-serif;
    color:#bdbec8 ;
    margin: 0;

    li{
        .nav-link{
            color:#bdbec8 ;
            text-decoration: none;
        }
    }

    .heading{
        font-family: roboto, sans-serif;
        font-weight: 600;
        color: #fff;
    }
}