<footer>
  <!-- <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 col-md-12 mb-4">
        <h5 class="text-uppercase heading">Contact Us</h5>

        <p>
          Address: 123 Main St, Anytown USA<br />
          Phone: (555) 555-1234<br />
          Email: info@realestate.com
        </p>
      </div>

      <div class="col-lg-3 col-md-12 mb-4">
        <h5 class="text-uppercase heading">Company</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="javascript:void(0)">About</a>
          </li>
          <li>
            <a href="javascript:void(0)">Properties</a>
          </li>
          <li>
            <a href="javascript:void(0)">About Us</a>
          </li>
          <li>
            <a href="javascript:void(0)">Contact Us</a>
          </li>
          <li>
            <a href="javascript:void(0)">Terms & Conditions</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 mb-4">
        <h5 class="text-uppercase heading">Features</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="javascript:void(0)">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">Properties</a>
          </li>
          <li>
            <a href="javascript:void(0)">About Us</a>
          </li>
          <li>
            <a href="javascript:void(0)">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 mb-4">
        <h5 class="text-uppercase heading">Features</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="javascript:void(0)">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">Properties</a>
          </li>
          <li>
            <a href="javascript:void(0)">About Us</a>
          </li>
          <li>
            <a href="javascript:void(0)">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 border-bottom">
      <div class="col mb-3">
        <img src="assets/images/home-4.jpg" alt="" class="img-fluid">
        <p class="">© 2023</p>
      </div>

      <div class="col mb-3">
        <h5 class="text-uppercase heading">Contact Us</h5>

        <p>
          Address: 123 Main St, Anytown USA<br />
          Phone: (555) 555-1234<br />
          Email: info@realestate.com
        </p>
      </div>

      <div class="col mb-3">
        <h5 class="text-uppercase heading">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5 class="text-uppercase heading">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5 class="text-uppercase heading">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        </ul>
      </div>
    </footer>
  </div>

</footer>

<div class="text-center p-3" style="background-color: #2b2232">
  &copy; 2023 Real Estate, Inc. All rights reserved.
</div>