<section class="register-section h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-6 h-100 p-0">
                <img src="../../assets/images/home-8.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 h-100 p-0">
                <div class="background">
                    <!-- <h3>hh</h3> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 bg-primary h-100">
        <h2>Column 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-6 bg-secondary h-100">
        <h2>Column 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2>Card Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  